<!--details-->
{{#each data}}
<div class="container py-5 mb-5">
    <h3 class="text-dark">{{name}}</h3>
    <div>
        <img class="round-img pull-left" src="{{imagepath}}" /> {{{description}}}
    </div>
</div>
{{/each}}
<!--/details-->